:root {
    --color-main: #EB233C;
    --color-white: #fff;
    --color-unprogess: #818181;
    --section-color-element: rgba(235, 213, 235, 0.26);
    --letter-main: 'Oleo Script Swash Caps';
    --letter-secondary: 'Work Sans';
    --letter-default: 'Sans serif';
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    --background-global: #121212;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--color-white);
}

html { 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden; 
    background-color: var(--background-global);
    /* animation: bg-animation 3s infinite alternate-reverse; */
}

[id] {
    scroll-margin-top: 10ex;
}

h2, h3, h4 { 
    display: inline-block;
    font-family: var(--letter-main), var(--letter-default);
}

h5 {
    font-family: var(--letter-main), var(--letter-default);
    font-size: 15px;
}

h2, h2 * {
    font-size: 30px;
}

h3, h4 {
    font-size: 25px;
}


p, 
input, 
button > *,
span,
a,
a > * {
    font-family: var(--letter-secondary), var(--letter-default);
}

.header {
    background-color: var(--color-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1002;
}

.underlined-bottom {
    border-bottom: 2px solid var(--color-main);
    padding-bottom: 3px;
}

.header * {
    margin: 4px;
}

.d-flex {
    display: flex;
}

.header-title {
    transform: rotate(-25deg);
    font-size: 35px;
    color: var(--color-white);
}

.div-center-photo {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-bottom: 7.5px;
}

.btn-cv {
    font-size: 2rem;
    background: var(--color-main);
    color: var(--color-white);
    border-radius: 6%;
    padding: 5px 35px;
    border: #fff 2.75px solid;
    cursor: pointer;
}

.btn-cv:hover,
.btn-contact:hover {
    transition: all 1s;
    background: var(--color-white);
    color: var(--color-main);
}

.header a {
    height: auto;
}

/* INDEX */
.container {
    width: 80%;
    margin: auto;
}

.portal-background{
    width: 100%;
    height: 90vh;
    background-image: url("img/min-work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dark-rgba {
    height: 90vh;
    width: 100%;
     background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dark-rgba *{
    margin:  0;
   
}

.home-title {
    font-size: 7.5vw;
    color: var(--color-white);
}

.btn-contact {
    font-size: 2.75vw;
    padding: 15px;
    background: var(--color-main);
    cursor: pointer;
    color: var(--color-white);
    border-radius: 10px;
    border: 1.15px solid var(--color-white);
}

/* Description */
.description {
    margin-top: 10px;
    margin: 5px;
    display: grid;
    grid-template-areas: 
    "photo description"
    "photo skill";
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    position: relative;
}

.description > .content {
    grid-area: description;
}

.description > .photo {
    grid-area: photo;
}

.description > .skill {
    grid-area: skill;
}

.photo {
    width: 100%;
    background-image: url(img/myphoto.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    position: relative;
}

.progress-letter *{
    font-size: 1.5vw;
}

.description p {
    font-size: 2vw;
}

.gray-scale {
    filter: grayscale(1);
}

.bck-dark {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.35);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

progress {
    width: 100%;
    height: 1rem;
    background-color: var(--color-unprogess);
}

progress::-webkit-progress-bar {
    background-color: var(--color-unprogess);
}

progress::-webkit-progress-value {
    background-color: var(--color-main);
}

.progress {
    margin: 1rem auto;
}

.progress > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.background-low {
    background: var(--section-color-element);
    height: auto;
}

/* Description */
.section-programming {
    height: 400px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.technologies {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 140px;
    width: 100%;
    align-items: center;
}

.margin-section {
    margin-top: 25px;
}


.technologies * {
    height: 100%;
}

.img-responsive {
    max-height: 15vw;
    width: auto;
    margin: 0 auto;
}


/* SECTION CARDS NEW */
.section-cards {
    width: 80%;
    text-align: center;
    margin: auto;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 2em;
}

.time-card {
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 15px;
    margin-right: 0.2em;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.margin-top {
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}


.cards-new {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5em;
    position: relative;
}

button {
    cursor: pointer;
    outline: none;
}

input[type=submit] {
    font-size: 15px;
    text-decoration: none;
    background-color: var(--color-main);
    border: none;
    border-radius: 25px;
    padding: 6.5px;
}

.d-none {
    display: none;
}

button:hover {
    transition: filter 0.75s;
    filter: grayscale(0.5);
}

.link-card {
    background: var(--color-main);
    border-radius: 8%;
    padding: 5px;
    text-decoration: none;
    color: var(--color-white);
}

.link-card:hover {
    box-shadow: 0px -10px 10px -10px var(--color-unprogess);
}

.card-new {
    position: relative;
    width: 100%;
    height: 485px;
    margin: auto;
    border: 5px solid black;
}

.img-main {
    width: 100%;
    max-height: 170px;
    height: 100%;
}

.position-new {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -15px;
    margin-top: -35px;
    top: 0;
    right: 0;
}

.star-12 {
    background: var(--color-main);
    width: 50px;
    height: 50px;
    position: relative;
}

.star-12:before,
.star-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: var(--color-main);
}

.star-12:before {
    transform: rotate(30deg);
}

.star-12:after {

    transform: rotate(60deg);
}

.star-12  p {
    position: absolute;
    z-index: 1000;
    width: 100%;    
}


/* CONTACT + ABOUT */
.contact-card {
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.contact-form {
    display: inline-flex;
    width: 70%;
    flex-direction: column;
    justify-content: start;
}

.contact-form > input[type=text],
.contact-form > input[type=email],
.contact-form > textarea {
    margin-top: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid var(--color-main);
}

::placeholder {
    filter: opacity(0.5);
    color: var(--color-white);
}

.contact-card > aside {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 150px;
    background: #ddd;
    box-shadow: 0px -10px 10px -10px var(--color-main);
}

footer {
    background:rgba(204, 204, 204, 0.15);
    font-size: 20px;
    color: var(--color-white);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.contact-form-error{
    margin-top: auto;
    font-size: 80%;
    padding: 5px;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}


.contact-form [required]:valid{
    border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
    border: thin solid var(--form-error-color);
}


@media screen and (max-width: 1024px){

    .contact-card {
        flex-direction: column;
        height: 100%;
        width: auto;
        margin: auto;
    }

    .header-title {
        font-size: 4.5vw;
    }

    a {
        font-size: 3.5vw;
    }
    
    h2, h2 > i {
        font-size: 4.5vw;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 3.15vw;
    }
    .cards-new {
        grid-template-columns:  1fr;
    }

    .description {
        grid-template-areas: 
                            "photo description"
                            "photo skill";
        grid-template-columns: repeat(2, 1fr);
        grid-area: auto;
        align-items: center;
    }

    .description h2, .description h5{
        font-size: 14px;
    }

    .progress {
        margin: 0.5rem auto;
    }
    
    progress {
        height: 0.5rem;
    } 

    .description img {
        height: 80%;
    }
    
    .time-card {
        display: none;
    }

    .star-12,
    .star-12:before,
    .star-12:after {
        width: 40px;
        height: 40px;
    }
    .position-new {
        margin-right: -10px;
        margin-top: -15px;
    }
    

    .btn-cv {
        font-size: 1rem;
    }

    .copyright {
        font-size: 4.25vw;
    }
}
@keyframes show-message {
    0%{
        visibility: hidden;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
};